*{
	margin: 0;
	padding: 0;
}
.header{
	min-height: 100;
	width: 100%;
	 background-color:pink;
    color: white;
}
 
.header1{   
  min-height:100vh;
  background-image:linear-gradient(rgba(4,9,30,0.7) ,rgba(4,9,30,0.7)), url(images/indexpic.jpeg);
  background-position:center;
  background-size:cover;
  position:relative;
}
.header1 img{
    width: 70px;
    padding-left: 100px ;
    position: relative;
    display: flex;
    width:  fit-content;

}
.website-header{
    padding: 10px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
}
.website-header img{
    float: left;
    width: 50px;
    height: 50px;   
    margin: 0 30px;/*margin*/
    display:block;
    
}
.website-header h1{
    padding-top: px;
    color: black;
    font-size: 50px;
    margin: auto 0;  /*vertically centered*/
}
.date{
    text-align: right;
    flex-grow: 1;
}
.date h2{  
color: rebeccapurple ; 
   font-size: 18px;
}

nav{
  background-color: black;
  display:flex;
  justify-content:space-between;
  align-items: center;                                                            
}
.nav-links{
   flex:1;
   text-align:right;
}
.nav-links ul li{
   list-style:none;
   display:inline-block;
   padding:10px 20px;
   position:relative;
}
.nav-links ul li a{
  color:#fff;
  text-decoration:none;
  font-size:20px;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.5s
}

.nav-links ul li :hover{
    color: pink;
}


/*------Movies-----------*/

.Movies{
    width: 80%;
	margin:auto;
	text-align: center;
	padding-top:100px;
}
h1{
	color: white;
	font-size: 70px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.Movies-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing:border-box;
	transition: 0.5s;
}
.Movies-col img{
	width: 500px;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}




